<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xmlns:ibooks="http://apple.com/ibooks/html-extensions" epub:prefix="ibooks: http://vocabulary.itunes.apple.com/rdf/ibooks/vocabulary-extensions-1.0" lang="en-US" xml:lang="en-US">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=595,height=842" />
		<title>page-<%=id%></title>
		<link href="typography.css" rel="stylesheet" type="text/css"/>
    <link href="book.css" rel="stylesheet" type="text/css"/>
  </head>
  <style>
    .page {
      width: <%=width%>;
      height: <%=height%>;
      background-image: url(<%=backgroundImage%>);
    }
  </style>
  <body class="page" >
    <% for (block of textBlocks) { %>
      <div class="text-block" style="width: <%=block.width%>px; height: <%=block.height%>px; left:<%=block.coordinates.x%>px; top: <%=block.coordinates.y%>px;">
        <% for (text of block.textAreas) { %>
        <p style="text-align: <%=text.textAlign%>; margin-top: <%=text.marginTop%>px; margin-bottom: <%=text.marginTop%>px; padding-left: <%=text.paddingLeft%>px;" >
          <% for (word of text.words) { %>
            <span id="word-<%=word.id%>" class="style-<%=word.formatConfigurationId%>">
              <%=word.word%>
            </span>
          <% } %>
        </p>
        <% } %>
      </div>
    <% } %>
  </body>
</html>